<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if request.session.first_name != None %}
<h3>Hi, {{ request.session.first_name }}</h3>
<a href="/ors/User/"><b>Add User</b></a> <b>|</b>
<a href="/ors/UserList/"><b>User List</b></a> <b>|</b>
<a href="/ors/Role/"><b>Add Role</b></a> <b>|</b>
<a href="/ors/RoleList/"><b>Role List</b></a> <b>|</b>
<a href="/ors/College/"><b>Add College</b></a> <b>|</b>
<a href="/ors/CollegeList/"><b>College List</b></a> <b>|</b>
<a href="/ors/Student/"><b>Add Student</b></a> <b>|</b>
<a href="/ors/StudentList/"><b>Student List</b></a> <b>|</b>
<a href="/ors/Course/"><b>Add Course</b></a> <b>|</b>
<a href="/ors/CourseList/"><b>Course List</b></a> <b>|</b>
<a href="/ors/Faculty/"><b>Add Faculty</b></a> <b>|</b>
<a href="/ors/FacultyList/"><b>Faculty List</b></a> <b>|</b>
<a href="/ors/Subject/"><b>Add Subject</b></a> <b>|</b>
<a href="/ors/SubjectList/"><b>Subject List</b></a> <b>|</b>
<a href="/ors/Marksheet/"><b>Add Marksheet</b></a> <b>|</b>
<a href="/ors/MarksheetList/"><b>Marksheet List</b></a> <b>|</b>
<a href="/ors/TimeTable/"><b>Add TimeTable</b></a> <b>|</b>
<a href="/ors/TimeTableList/"><b>TimeTable List</b></a> <b>|</b>
<a href="/ors/logout/"><b>Logout</b></a>
{% else %}
<h3>Hi, Guest</h3>
<a href="/ors/Welcome/"><b>Welcome</b></a> <b>|</b>
<a href="/ors/Login/"><b>Login</b></a>
{% endif %}
<hr>
</body>
</html>